// 100 -> Thin
// 200 -> Extra Light
// 300 -> Light
// 400 -> Normal
// 500 -> Medium
// 600 -> Semi Bold
// 700 -> Bold
// 800 -> Extra Bold
// 900 -> Ultra Bold

// DINNextLTPro
// black
@font-face {
    font-family: DINNextLTPro-Black;
    src: url(../fonts/DINNext/DINNextLTPro-Black.otf);
}

@font-face {
    font-family: DINNextLTPro-BlackItalic;
    src: url(../fonts/DINNext/DINNextLTPro-BlackItalic.otf);
}

// Bold
@font-face {
    font-family: DINNextLTPro-Bold;
    src: url(../fonts/DINNext/DINNextLTPro-Bold.otf);
}

@font-face {
    font-family: DINNextLTPro-BoldItalic;
    src: url(../fonts/DINNext/DINNextLTPro-BoldItalic.otf);
}

// Heavy
@font-face {
    font-family: DINNextLTPro-Heavy;
    src: url(../fonts/DINNext/DINNextLTPro-Heavy.otf);
}

@font-face {
    font-family: DINNextLTPro-HeavyItalic;
    src: url(../fonts/DINNext/DINNextLTPro-HeavyItalic.otf);
}

// Italic
@font-face {
    font-family: DINNextLTPro-Italic;
    src: url(../fonts/DINNext/DINNextLTPro-Italic.otf);
}

// Light
@font-face {
    font-family: DINNextLTPro-Light;
    src: url(../fonts/DINNext/DINNextLTPro-Light.otf);
}

@font-face {
    font-family: DINNextLTPro-LightItalic;
    src: url(../fonts/DINNext/DINNextLTPro-LightItalic.otf);
}

// Medium
@font-face {
    font-family: DINNextLTPro-Medium;
    src: url(../fonts/DINNext/DINNextLTPro-Medium.otf);
}

@font-face {
    font-family: DINNextLTPro-MediumItalic;
    src: url(../fonts/DINNext/DINNextLTPro-MediumItalic.otf);
}

// Regular
@font-face {
    font-family: DINNextLTPro-Regular;
    src: url(../fonts/DINNext/DINNextLTPro-Regular.otf);
}

// UltraLight
@font-face {
    font-family: DINNextLTPro-UltraLight;
    src: url(../fonts/DINNext/DINNextLTPro-UltraLight.otf);
}

@font-face {
    font-family: DINNextLTPro-UltraLightIt;
    src: url(../fonts/DINNext/DINNextLTPro-UltraLightIt.otf);
}

// Rounded Bold
@font-face {
    font-family: DINNextRoundedLTPro-Bold;
    src: url(../fonts/DINNext/DINNextRoundedLTPro-Bold.otf);
}

// Rounded Light
@font-face {
    font-family: DINNextRoundedLTPro-Light;
    src: url(../fonts/DINNext/DINNextRoundedLTPro-Light.otf);
}